# Mac OS
# ======
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



# MATLAB
# ======
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# Unwanted binary files
*.wav
*.nc
*.sofa

# octave crashes
octave-core

# tmp files
*.swp
*.asv

# pdf files
*.pdf

# omit bash scripts
*.sh

# pictures
*.jpg
*.jpeg
*.png
*.gif

# movies
*.mp4
*.flv

# User/programmer specific files.
.NeuroPAL_ID_Preferences.mat
visualize_light_prefs.mat
External_Dependencies
visualize
visualize.prj
